<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles.css') }}">
     <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='custom.css') }}">
  </head>
  <body>
    <nav class="nav sticky-top nav-expand-lg nav-dark bg-dark">
        <div class="col text-center">
            <a href="/"><img src="/static/default/logo.png" width="100" height="50"></a>
        </div>
    </nav>
    
    <div class="sidebar">
        <a href="/"><img src="{{ url_for('static',filename='default/home.png') }}" width="20"><span class="txt fw-bold" style="padding:15px;">Home</span></a>
        <a href="{{ url_for('items',category='Dishes') }}"><img src="{{ url_for('static',filename='default/menu.png') }}" width="20"><span class="txt fw-bold" style="padding:15px;">Menu</span></a>
        {% if current_user.is_authenticated %}
            {% if account == "Admin" %}
        <a href="/carts"><img src="{{ url_for('static',filename='default/cart.png') }}" width="20"><span class="txt fw-bold" style="padding:15px;">Carts</span></a>
        <a href="/users"><img src="{{ url_for('static',filename='default/users.png') }}" width="20"><span class="txt fw-bold" style="padding:15px;">Users</span></a>
        <a href="/menu-setup"><img src="{{ url_for('static',filename='default/setting.png') }}" width="20"><span class="txt fw-bold" style="padding:15px;">Menu Setup</span></a>
            {% else %}
        <a href="{{ url_for('cart',id=current_user.id) }}"><img src="{{ url_for('static',filename='default/cart.png') }}" width="20"><span class="txt fw-bold" style="padding:15px;">Cart</span></a>
            {% endif %}
        <a href="{{ url_for('profile',id=current_user.id)}}"><img src="{{ url_for('static',filename='default/user.png') }}" class="rounded-circle" width="20"><span class="txt fw-bold" style="padding:15px;">{{current_user.role}}</span></a>
		{% else %}
	 <a href="#Signin" data-bs-toggle="modal"><img src="{{ url_for('static',filename='default/login.png') }}" width="20"><span class="txt fw-bold" style="padding:15px;">Sign In</span></a>
       <div class="modal" id="Signin" data-bs-backdrop="static" aria-hidden="true" tabindex="-1">
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-header">
                <span class="modal-title fs-5">Sign In</span>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <form action="/login" method="POST">
                {{ form.hidden_tag() }}
                <input type="hidden" value="signin" name="nan">
                {{ form.email(class="form-control", placeholder="Email") }}<br>
                {{ form.password(class="form-control", placeholder="Password")}}<br>
                {{ form.submit(class="form-control btn-secondary") }}
                </form>
              </div>
              <div class="modal-footer">
                <button class="form-control btn-primary" data-bs-target="#Signup" data-bs-toggle="modal">Create an account</button>
              </div>
            </div>
          </div>
        </div>
        <div class="modal" id="Signup" data-bs-backdrop="static" aria-hidden="true" tabindex="-1">
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-header">
              <span class="modal-title fs-5">Sign Up</span>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <form action="/login" method="POST">
                {{ form.hidden_tag() }}
                <input type="hidden" value="signup" name="nan">
                {{ form.string(class="form-control", placeholder="Names") }}<br>
                {{form.number(class="form-control",placeholder="Phone")}}<br>
                {{ form.email(class="form-control", placeholder="Email") }}<br>
                {{ form.password(class="form-control", placeholder="Password") }}<br>
                {{ form.submit(class="form-control btn-secondary") }}
                </form>
            </div>
          </div>
        </div>
      </div>
        {% endif %}
    </div>
    
    <div class="main-content">
        <div class="container-fluid"><br>
{% block content %} 

{% endblock %}
        </div>
    </div>
    <br><hr>
	<center><a class="btn btn-sm text-secondary" href="mailto:nerdsolomon@gmail.com"><img src="{{ url_for('static',filename='default/signed.png') }}" width="20"> nerdsolomon</a></center>
    <br><br>
   <script src="/static/script.js"></script>
  </body>
</html>