{% extends "base.html" %}
{% block content %}

<div class="alert alert-warning fade show" role="alert">
	<center><small>Messages are end-to-end with the Admin</small></center>
</div>

<br><br>

{% for chat in chats %}
	{% if chat.admin == "admin" %}
<span class="badge bg-success text-start fw-normal" style="white-space:pre-wrap !important;"><span class="fs-5">{{ chat.text }}</span><br><small class="fw-light text-dark">{{ chat.datetime }}</small></span><br><br>
	{% else %}
<span class="badge bg-primary text-start fw-normal" style="white-space:pre-wrap !important;"><span class="fs-5">{{ chat.text }}</span><br><small class="fw-light text-dark">{{ chat.datetime }}</small></span><br><br>
	{% endif %}
{% endfor %}


<form method='POST'>
 	<div class="row">
 		<div class="col-10 m-2 position-fixed bottom-0">
	{{ form.text(class="form-control form-control-lg rounded-pill", rows="1",placeholder="Message") }}
	{% if session["account"] == "Admin" %}
	<input type="hidden" value="admin" name="name">
	{% else %}
	<input type="hidden" value="user" name="name">
	{% endif %}
		</div>
		<div class="col-2 m-2 position-fixed bottom-0 end-0">
	{{ form.submit(class="btn btn-lg rounded-circle btn-secondary ") }}
		</div>
	</div>
</form>

{% endblock %}