{% extends "base.html" %}
{% block content %}

<div class="alert alert-warning text-center">
    <small>Messages are end-to-end with the Admin</small>
</div>

{% for chat in chats %}
    <span class="badge fs-6 text-start mb-2 fw-normal {% if chat.admin %} bg-secondary {% else %} bg-success float-end {% endif %}" style="white-space:pre-wrap !important;">{{ chat.text }}</span><br>
{% endfor %}

<div class="offcanvas show offcanvas-bottom bg-dark" data-bs-scroll="true" style="height:auto;"data-bs-backdrop="false">
    <div class="offcanvas-body text-center" style='padding: 5px;'>
    <form method='POST'>
        <div class="input-group gap-2">
        {% if account == "Admin" %}
        <input type="hidden" value="{{ current_user.name }}" name="string">
    	{% endif %}
    	{{form.text(class="form-control rounded", rows="1",placeholder="Message") }}
    	<button type="submit" class="btn btn-success rounded">Send</button>
        </div>
    </form>
    <div>
</div>
{% endblock %}