{% extends "base.html" %}
{% block content %}

<div class="alert alert-warning fade show" role="alert">
	<center><small>Messages are end-to-end with the Admin</small></center>
</div>

<br>

{% for chat in chats %}
	{% if chat.admin == "admin" %}
<span class="badge bg-success text-start fw-normal" style="white-space:pre-wrap !important;"><span class="fs-5">{{ chat.text }}</span><br><small class="fw-light text-dark">{{ chat.datetime }}</small></span><br><br>
	{% else %}
<span class="badge bg-primary text-start fw-normal" style="white-space:pre-wrap !important;"><span class="fs-5">{{ chat.text }}</span><br><small class="fw-light text-dark">{{ chat.datetime }}</small></span><br><br>
	{% endif %}
{% endfor %}


<form method='POST'>
    <div class="input-group m-1 position-fixed bottom-0">
	{% if session["account"] == "Admin" %}
	<input type="hidden" value="admin" name="name">
	{% else %}
	<input type="hidden" value="user" name="name">
	{% endif %}
	{{form.text(class="form-control form-control-lg", rows="1",placeholder="Message") }}
	{{ form.submit(class="btn btn-lg btn-secondary ") }}
    </div>
</form>

{% endblock %}