{% extends "base.html" %}
{% block content %}

<table class="table table-hover table-sm table-bordered">
    <tr>
      <th>Dish</th>
      <td>{{ order.menu.dish }}</td>
    </tr>
	<tr>
      <th>Plate(s)</th>
      <td>{{ order.quantity }}</td>
    </tr>
	<tr>
      <th>Comment</th>
      <td>{{ order.comment }}</td>
    </tr>
	<tr>
      <th>Location</th>
      <td>{{ order.location }}</td>
    </tr>
	<tr>
      <th>Time Ordered</th>
      <td>{{ order.time }}</td>
    </tr>
	<tr>
      <th>Customer</th>
      <td>{{ order.user.name }}</td>
    </tr>
	<tr>
      <th>Cost</th>
      <td>${{ cost }}</td>
    </tr>
	<tr>
      <th>Status</th>
      <td>{{ order.status }}
{% if current_user.is_authenticated %}
	{% if session["account"]  == "Admin" %}
	  <button class="btn btn-sm dropdown-toggle" type="button" data-bs-toggle="offcanvas" data-bs-target="#Status"></button>
	{% endif %}
{% endif %}
	  </td>
    </tr>
</table>

	{% if session["account"]  == "User" %}
<center><a class="btn text-danger {% if order.status %} disabled {% endif %}"href="{{ url_for('del_order', id=order.id) }}">Cancel Order</a></center>
	{% endif %}

<div class="position-relative">
  <div class="offcanvas offcanvas-top-50 start-50 translate-middle" id="Status" style="width: 18em;">
	<div class="offcanvas-body">
<form method="POST">
	<select class="form-select" name="status">
    	<option value="" selected>Status</option>
   	<option value="Accepted">Accepted</option>
   	<option value="Rejected">Rejected</option>
   	<option value="Delivered">Delivered</option>
   	<option value="Not delivered">Not delivered</option>
	</select><br>
	<center><button type="submit" class="btn btn-dark btn-sm">Change</button></center>
</form>
	</div>
  </div>
</div>


{% endblock %}