{% extends "base.html" %}
{% block content %}

<p class="display-6 fw-bold text-secondary">{{ items.first().category }}</p>

<div class="row g-1">
{% for item in items %}
	<div class="col-sm-3 col-6 mb-sm-0">
		<div class="card">
	        <a class="stretched-link" href="{{ url_for('item', id=item.id) }}"></a>
	        {% if item.image %}
	        <img src="{{ url_for('static', filename='storage/' + item.image ) }}" class="card-img-top">
	        {% else %}
	        <img src="{{ url_for('static', filename='default/dish.png' ) }}" class="card-img-top">
	        {% endif %}
		    <div class="nav-link">
    		    <b class="text-success fs-5">NGN {{ item.price }}</b><br>
    		    <span class="text-dark">{{ item.name }}</span>
		    </div>
		</div>
	</div>
{% endfor %}
</div>
<br>

{% endblock %}
