{% extends "base.html" %}
{% block content %}

{% for message in get_flashed_messages() %}
<div class="alert alert-success alert-dismissible fade show" role="alert">
	<small>{{ message }}</small>
	<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}



<div class="row g-1">
{% for menu in menus %}
	<div class="col-6">
		<div class="card">
	<a class="{%if session['account'] == 'Admin'%}disabled{% else %} stretched-link{%endif%}" href="{{ url_for('make_order', id=menu.id) }}"></a>
	{% if menu.image %}
	<img src="{{ url_for('static', filename='files/' + menu.image ) }}" class="card-img-top">
	{% else %}
	<img src="/static/default/spoon-folk.png"class="card-img-top">
	{% endif %}
		<a class="nav-link text-dark">
    		<b class="text-success fs-5">NGN {{ menu.price }}</b><br>
    		<span>{{ menu.dish }}</span>
		</a>
		{% if current_user.is_authenticated %}
			{% if session["account"] == "Admin" %}
  <center>
    <a class="btn btn-sm" href="{{ url_for('edit_price', id=menu.id) }}">Edit Price</a>
    <a class="btn text-danger btn-sm" href="{{ url_for('del_meal', id=menu.id) }}">Delete</a>
  </center>
			{% endif %}
		{% endif %}
		</div>
	</div>
{% endfor %}
</div>
<br>



{% if current_user.is_authenticated %}
	{% if session["account"]  == "Admin" %}
<center><button class="btn btn-sm btn-outline-dark" type="button" data-bs-toggle="offcanvas" data-bs-target="#AddMenu">Add Meal</button></center>
	{% endif %}
{% else %}
	<p class="fw-light text-secondary text-center">Login account to place your order</p>
{% endif  %}


<div class="position-relative">
  <div class="offcanvas offcanvas-top-50 start-50 translate-middle" id="AddMenu" style="width: 24em;">
	<div class="offcanvas-body">
	<p class="fw-bold text-center">Add Meal</p>
	<form method = 'POST' enctype="multipart/form-data">
	{{ form.hidden_tag() }}
	{{ form.dish(placeholder="Meal", class='form-control') }}
	<br/>
	{{ form.price(placeholder="Price (Naira)", class='form-control') }}
	<br/>
	{{ form.image(class='form-control') }}
	<br/>
	<center>{{ form.submit(class='btn btn-secondary') }}</center>
	</form>
	</div>
  </div>
</div>

{% endblock %}
