{% extends "base.html" %}
{% block content %}

<p class="fw-bold text-secondary">Profile</p>

<div class="list-group-flush">
	<div class="list-group-item">
		<img src="{{ url_for('static',filename='default/usr-icn.png') }}" width="15">
		<span style="padding:20px;">{{ current_user.name }}</span>
		<a data-bs-toggle="offcanvas" href="#name"><img src="{{ url_for('static',filename='default/edit.png') }}" width="12"class="float-end"></a>
	</div>
	<div class="list-group-item">
		<img src="{{ url_for('static',filename='default/mail.png') }}" width="15">
		<span style="padding:20px;">{{ current_user.email }}</span>
		<a data-bs-toggle="offcanvas" href="#email"><img src="{{ url_for('static',filename='default/edit.png') }}" width="12" class="float-end"></a>
	</div>
	<div class="list-group-item">
		<img src="{{ url_for('static',filename='default/phone.png') }}" width="15">
		<span style="padding:20px;">+234{{ current_user.phone }}</span>
		<a data-bs-toggle="offcanvas" href="#num"><img src="{{ url_for('static',filename='default/edit.png') }}" width="12" class="float-end"></a>
	</div>
</div><br>

<p class="fw-bold text-secondary">Website information</p>

<div class="list-group-flush">
	<div class="list-group-item">
		<img src="{{ url_for('static',filename='default/terms.png') }}" width="15">
		<span style="padding:20px;">Terms of service</span>
		<a class="stretched-link" href="#"></a>
	</div>
	<div class="list-group-item">
		<img src="{{ url_for('static',filename='default/secure.png') }}" width="15">
		<span style="padding:20px;">Data Security</span>
		<a class="stretched-link" href="#"></a>
	</div>
	<div class="list-group-item">
		<img src="{{ url_for('static',filename='default/phone.png') }}" width="15">
		<span style="padding:20px;">Contact</span>
		<a class="stretched-link" href="#"></a>
	</div>
	<div class="list-group-item">
		<img src="{{ url_for('static',filename='default/info.png') }}" width="15">
		<span style="padding:20px;">About</span>
		<a class="stretched-link" href="#"></a>
	</div>
</div><br>

<p class="fw-bold text-secondary">Account management</p>

<div class="list-group-flush">
	<div class="list-group-item">
		<img src="{{ url_for('static',filename='default/key.png') }}" width="15">
		<span style="padding:20px;">Change password</span>
		<a class="stretched-link" href="#"></a>
	</div>
	<div class="list-group-item">
	<a data-bs-toggle="modal" class="stretched-link" href="#signout"></a>
		<img src="{{ url_for('static',filename='default/logout.png') }}" width="15">
		<span style="padding:20px;">Sign out</span>
	</div>
	<div class="list-group-item">
		<a data-bs-toggle="modal" class="stretched-link" href="#del"></a>
		<img src="{{ url_for('static',filename='default/trash.png') }}" width="15">
		<span style="padding:20px;">Delete account</span>
	</div>
</div>

 <div class="offcanvas offcanvas-bottom" id="name" style="height:auto;">
       <div class="offcanvas-body">
           <form method='POST'>
           	<div class="input-group gap-2">
                {{ form.hidden_tag() }}
				<input type="hidden" name="name" value="name">
				{{ form.string(class="form-control") }}
                <button type="submit" class="btn fw-bold">Done</button>
               </div>
          </form>
      </div>
 </div>

 <div class="offcanvas offcanvas-bottom" id="num" style="height:auto;">
       <div class="offcanvas-body">
           <form method='POST'>
           	<div class="input-group gap-2">
                {{ form.hidden_tag() }}
				<input type="hidden" name="name" value="name">
				{{ form.number(class="form-control")}}
                <button type="submit" class="btn fw-bold">Done</button>
               </div>
          </form>
      </div>
 </div>

 <div class="offcanvas offcanvas-bottom" id="email" style="height:auto;">
       <div class="offcanvas-body">
           <form method='POST'>
           	<div class="input-group gap-2">
                {{ form.hidden_tag() }}
				<input type="hidden" name="name" value="email">
				{{ form.email(class="form-control") }}
                <button type="submit" class="btn fw-bold">Done</button>
               </div>
          </form>
      </div>
 </div>

  <div class="modal modal-sm" id="del">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-body text-center">
            <p>Do you want to delete your account?</p>
            <a type="button" class="btn" data-bs-dismiss="modal" aria-label="Close">Cancel</a>
            <a class="btn text-danger" href="{{url_for('user_delete',id=current_user.id)}}">Delete</a>
          </div>
        </div>
      </div>
    </div>

  <div class="modal modal-sm" id="signout">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-body text-center">
            <p>Do you want to sign out?</p>
            <a type="button" class="btn" data-bs-dismiss="modal" aria-label="Close">No</a>
            <a class="btn text-danger" href="/signout">Yes</a>
          </div>
        </div>
      </div>
    </div>

{% endblock %}