{% extends "base.html" %}
{% block content %}

<span class="fw-bold text-secondary">Menu Setup</span>
<a class="btn btn-sm text-primary" href="#Add" data-bs-toggle="modal">Add</a><br><br>

<div class="modal" id="Add" aria-hidden="true" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body text-center">
          <span class="modal-title fs-5 fw-bold">Add Item</span>
          <button type="button" class="btn-close float-end" data-bs-dismiss="modal"></button><br><br>
        <form method = 'POST' enctype="multipart/form-data">
        	{{ form.hidden_tag() }}
        	<input type="hidden" value="add" name="nan">
        	{{ form.string(placeholder="Item", class='form-control') }}<br>
	        {{ form.number(placeholder="Price", class='form-control') }}<br>
	        {{ form.text(placeholder="Content", class='form-control') }}<br>
	        <select class="form-select" name="type">
        	    <option >Category</option>
        	    <option value="Dishes">Dishes</option>
        	    <option value="Pastries">Pastries</option>
	        	<option value="Beverages">Beverages</option>
            </select><br>
        	{{ form.file(class='form-control') }}<br>
        	{{ form.submit(class='btn btn-secondary') }}
        </form>
      </div>
    </div>
  </div>
</div>


<div class="list-group-flush">
{% for item in items %}
  <div class="list-group-item">
      <a class="stretched-link" href="#s{{ item.id }}" data-bs-toggle="modal"></a>
      <b>{{ item.name }}</b><br>
	  <small class="fw-light">NGN {{ item.price }}</small>
	  <span class="badge text-dark float-end">{{ item.category }}</span>
  </div>

  <div class="modal" id="s{{ item.id }}" aria-hidden="true" tabindex="-1">
      <div class="modal-dialog modal-dialog-sm modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-body">
             <span class="modal-title fs-5 fw-bold">Detail</span>
             <button type="button" class="btn-close float-end" data-bs-dismiss="modal"></button><br><br>
                 <img src="{{ url_for('static', filename='storage/' + item.image ) }}" class="card-img-top rounded"><br><br>
                 <p>
                    <b>{{ item.name }}</b><br>
                    <b class="text-success">NGN {{ item.price }}</b>
                    <b class="float-end">| {{ item.category }}</b><br>
                    <span class="fst-italic">{{ item.content }}</span>
                </p>
                <center>
                    <a class="btn btn-sm btn-outline-dark" href="#fo{{ item.id }}" data-bs-toggle="modal">Edit</a>
		    	    <a class="btn btn-sm btn-outline-danger" href="{{url_for('item_delete', id=item.id)}}">Delete</a>
		    	</center>
          </div>
        </div>
      </div>
  </div>
  
  <div class="modal" id="fo{{ item.id }}" aria-hidden="true" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-body text-center">
          <span class="modal-title fs-5 fw-bold">Edit Item</span>
          <button type="button" class="btn-close float-end" data-bs-dismiss="modal"></button><br><br>
            <form method='POST'>
                <input type="hidden" value="{{ item.id }}" name="id">
                <input type="hidden" value="edit" name="nan">
                {{ form.hidden_tag() }}
            	{{ form.string(placeholder="Name", value=item.name, class='form-control') }}<br>
	            {{ form.number(placeholder="Price", value=item.price, class='form-control') }}<br>
        	    <select class="form-select" name="type">
                	<option >{{ item.category }}</option>
                    <option value="Dishes">Dishes</option>
                    <option value="Pastries">Pastries</option>
	                <option value="Beverages">Beverages</option>
                </select><br>
                <textarea class='form-control' placeholder="Content" name="text">{{ item.content }}</textarea><br>
            	{{ form.submit(class='btn btn-secondary') }}
            </form>
        </div>
      </div>
    </div>
  </div>
{% endfor %}
</div>


{% endblock %}
