{% extends "base.html" %}
{% block content %}

<p class="fw-bold text-secondary">Users ({{ users.count()}})</p>

<div class="list-group-flush">
{% for user in users %}
  <div class="list-group-item">
	    {{ user.name }}
	    <div class="dropdown float-end">
    	    <span class="dropdown-toggle"></span>
    	    <div class="dropdown-content" style="right:0;">
    	    <form method="POST">
            {{ form.hidden_tag() }}
            <input type="hidden" value="{{ user.id }}" name="id">
            {% if user.role == "User" %}
                <input type="hidden" value="Admin" name="role">
                <button class="btn" type="submit">Make an admin</button>
            {% else %}
                <input type="hidden" value="User" name="role">
                <button class="btn" type="submit">Dismiss admin</button>
            {% endif %}
            </form>
            </div>
        </div>
    	<br>
	    <small class="fw-light text-dark">{{ user.email }}</small>
	    <span class="badge text-dark float-end">{{ user.role }}</span>
  </div>
{% endfor %}
</div>

{% endblock %}